body {
    /* Full screen, flex layout */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Radial gradient background */
    background: #ffffff;
    background-image: radial-gradient(circle at top center, rgba(59, 130, 246, 0.2), transparent 70%);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 15px;
}
